{% import '@BookMe/_base/_macros.twig' as _m %}
{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}


<div class="row">
  <div class="col-md-6">
      
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-fw fa-bullhorn"></i>
            Create New Rule Step 1  
        </div>

        <div class="panel-body">

        <form style="" method="get" action="{{ path('bookme-rule-new-two') }}"> 
            
            <!-- Rule Type -->    
            <div class="form-group">
                {{ _m.label('bookeMeRuleType','Rule Type', {}) }}
                {{ _m.select_ruletype('iRuleTypeId', aRuleTypeList, sRequestRuleType, { "id": "bookeMeRuleType", "class" : "form-control" }) }}
            </div>
            
            <!-- Calendar Year -->
            <div class="form-group">
                {{ _m.label("bookeMeCalYear", "Calendar Year", {}) }}
                {{ _m.select_calyear("iCalYear", aCalendarYearList, iActiveCalYear, { "id":"bookeMeCalYear", "class" : "form-control" }) }}
            </div>
            
            <!-- Timeslot Year -->
            <div class="form-group">
                {{ _m.label("bookeMeTimeslot", "Timeslot", {}) }}
                {{ _m.select_timeslot("iTimeslotId", aTimeslots, iTimeslotId, { "class": "form-control", "id": "bookeMeTimeslot" }) }}
            </div>
            
            {{ _m.input("sRuleTypeCode",sRequestRuleType,'hidden', {}) }}
            {{ _m.input("sSubmit","Continue to next step",'submit', { class : 'btn btn-primary' }) }}
            
        </form>

                
        </div>
    </div>
  
  </div>
    <div class="col-md-6">
    </div>

</div>


  
    

{% endblock page_main %}
