{% import '@BookMe/_base/_macros.twig' as _m %}
{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}


<div class="row">
  <div class="col-md-6">
      
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-fw fa-bullhorn"></i>
            Create New Rule Step 2  
        </div>

        <div class="panel-body">

        <form style="" method="get" action="{{ path('bookme-rule-new-three') }}"> 
          
            <h4>Repeat Option</h4>
            <div class="radio">
                {% set bSingleDayInt = 0 %}
                {% if bSingleDay == true %}
                    {% set bSingleDayInt = 1%}
                {% endif %}
                {{ _m.radio_inline('bSingleDay','Occurs on a Single Day', 1 ,bSingleDayInt , { "id" : "bIsSingleRule"}) }}
                {{ _m.radio_inline('bSingleDay','Occurs over many Days', 0 ,bSingleDayInt , { "id" : "bIsRepeatRule"}) }}
                
            </div>
            <hr />
            
            
            <h4>Start and End Time</h4>
              <div class="form-inline">
                  <div class="form-group">
                   {{ _m.label('iOpenSlotMinute','Open Time (24hr)',{ }) }}
                    <select name="iOpenSlotMinute" class="form-control" id="iOpenSlotMinute">
                        {% for oTimeSlot in aDayTimeslots %}
                            <option value="{{ oTimeSlot.open_minute }}" 
                                   {% if iOpenSlotMinute == oTimeSlot.open_minute %} selected="selected" {% endif %}
                            >
                                {{ convertSlotTime(oTimeSlot.open_minute,true)}}
                            </option>
                        {% endfor %}
                    </select> &nbsp;
                  </div>
                  <div class="form-group">
                    {{ _m.label('iCloseSlotMinute','Close Time (24hr)',{ }) }}
                    <select name="iCloseSlotMinute" class="form-control" id="iCloseSlotMinute">
                        {% for oTimeSlot in aDayTimeslots %}
                        <option value="{{ oTimeSlot.close_minute }}" 
                                {% if iCloseSlotMinute == oTimeSlot.close_minute %} selected="selected" {% endif %} 
                                {% if iCloseSlotMinute != oTimeSlot.close_minute and loop.last %} selected="selected" {% endif %}
                        >
                                {{ convertSlotTime(oTimeSlot.close_minute,false)}}
                        </option> 
                        {% endfor %}
                    </select>
                  </div>
              </div>
            <hr />
            
            <h4> Rule Name & Description </h4>
            
            <div class="form-group">
                    {{ _m.label('sRuleName','Rule Name',{ }) }}
                    {{ _m.text('sRuleName', sRuleName, {"class":"form-control", "id":"sRuleName"}) }}
                    <br />
                    {{ _m.label('sRuleDescription','Rule Description',{ }) }}
                    {{ _m.textarea('sRuleDescription',sRuleDescription,{'id':"sRuleDescription", "class" : "form-control", "rows":"5" }) }}
            </div>
            
            <!-- Details From Step One -->
            {{ _m.input("iTimeslotId", iTimeslotId ,'hidden', {}) }}
            {{ _m.input("iCalYear",iCalYear ,'hidden', {}) }}
            {{ _m.input("iRuleTypeId",iRuleTypeId,'hidden', {}) }}
        
            {{ _m.input("sSubmit","Continue to next step",'submit', { class : 'btn btn-primary' }) }}
        </form>

                
        </div>
    </div>
  
  </div>
    <div class="col-md-6">
    </div>

</div>


  
    

{% endblock page_main %}
