{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}


    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Timeslots must be measued in minutes and divide a day into even number of slots. e.g 5min, 10min, 15min, 30min. <br />
        Invalid slot are example 7 minutes, 13 minutes.
    </div>


<div class="row">
  <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-fw fa-bullhorn"></i>
            Add New Time Slot
        </div>

        <div class="panel-body">
               <form class="form-inline" style="margin-bottom:10px; width:100%;" method="post" action="{{ path('bookme-setup-timeslot') }}">
                       <div class="form-group">
                       <label for="iSlotLength" style="display:inline">Slot Length:</label> 
                       <input class="form-control" id="iSlotLength" type="text" name="iSlotLength"  />
                       </div>
                       <button type="submit" class="btn btn-primary">Add New Slot</button>
               </form>
            
            <table class="dashboardlisting listing">
                <thead>
                    <th>
                        Slot Database ID
                    </th>
                    <th>
                        Slot Length
                    </th>
                    <th>
                        Is Visible for New Schedules
                    </th>
                    <th>
                        Hide
                    </th>
                </thead>
                <tbody>
                    {% for slot in timeslots %}
                       <tr>
                           <td>
                                {{ slot.timeslot_id }}
                            </td>
                            <td>
                                {{ slot.timeslot_length }}
                            </td>
                            <td>
                                {% if  slot.is_active_slot == 1 %}
                                  Yes
                                {% else %}
                                  No
                                {% endif %}
                            </td>
                            <td>
                                <form method="post" action="{{ path('bookme-setup-timeslot-toggle') }}">
                                     <input name="iTimeslotId" type="hidden" value="{{ slot.timeslot_id }}"  />
                                      <button type="submit" class="btn btn-secondary">Toggle Timeslot</button>
                                </form>
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
             </table>
        </div>
    </div>
  </div>
</div>

{% endblock page_main %}
