{% extends '_base/_page-nav.twig' %}
{% import '@BookMe/_base/_macros.twig' as _m %}

{% block page_nav title %}

{% block page_title __(title) %}


{% block page_main %}


{% form_theme oForm '@BookMe/_base/_form_bookme_layout.twig' %}
<div class="row bm-search">
    <span class="bm-search_heading">Find Holidays</span>


    <form id="queueSearchForm" method="get" action="{{ path('bookme-holidayrule-preview')  }}"  class="bm-search_form form-inline">
        {{ form_widget(oForm) }}
       
       
        <input type="submit" value="Find Holidays" name="submit" class="btn btn-primary bm-search_submit">
    </form>

</div>


<div class="row panel panel-default">
    <div class="panel-heading">Choose Holidays</div>
    <div class="panel-body bm-table">
        <form method="post" action="{{ path('bookme-holidayrule-save') }}">
 
             {{ _m.label('','Pick your Holiday','') }}  
 
             {% for oHoliday in aHoliday %}
             {{ _m.checkbox('holiday[]', oHoliday.shortName,oHoliday.shortName,{}) }}               
             {{ oHoliday.getName() }}    
             <br />       
            {% endfor %}
           
            {{ _m.input('submitHoliday','Create Holiday Rules','submit',{"class":"btn btn-primary", "style":"float:right;"}) }}
            
        </form>

       
    </div>
</div>


{% endblock page_main %}

{% block page_script %}

{% endblock page_script %}

